body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3498db; /* Sky blue */
  }
  .name {
    color: #0b2f4f; /* Dark blue */
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    background-color: #3a3a3a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .display {
    grid-column: 1 / -1;
    background-color: #2b2b2b;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  
  .button {
    background-color: #3498db; /* Sky blue */
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .button:hover {
    background-color: #2980b9; /* Dark blue */
    transform: translateY(-2px);
  }
  
  .zero {
    grid-column: 1 / span 2;
  }
  
  .equal {
    grid-column: -2 / -1;
    background-color: #6a6666;
  }
  
  .equal:hover {
    background-color: #4cae4c;
    transform: translateY(-2px);
  }
  